button {
    margin: 5px;
}
.topic {
    box-shadow: 5px 10px 8px #888888
}
img {
    margin: 2px;
}
span {
  float: left;
}
p {
    position: relative;
    text-align: center;
    margin: 0;
}
.active {
    transform: scale(1.1,1.1);
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
}



